<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
</head>
<body>
    <h1>Listing Details</h1>
    <h2><%= property[4] %>, <%= property[5] %>, <%= property[6] %></h2>
    <h2 id="price">Price: $<%= property[3] %></h2>
    <p>Status: <%= property[1] %></p>
    <p>Property Type: <%= property[7] %></p>
    <p>Condition: <%= property[9] %></p>
    <p>Baths: <%= property[10] %></p>
    <p>Beds: <%= property[11] %></p>
    <p>Year Built: <%= property[12] %></p>
    <p>Interior Space: <%= property[13] %> sqft</p>
    <h3>Realtor</h3>
    <p><%= property[15] %></p>
    <p><%= property[19] %></p>
    <p>Proudly serving the community for <%= property[18] %> years!</p>
    <h4>CONTACT</h4>
    <p>Email: <%= property[16] %></p>
    <p>Phone: <%= property[17] %></p>
    <p> <%= user[0] %></p>
    <p> <%= user[1] %></p>
    <p> <%= user[2] %></p>
</body>
</html>

<script>
</script>